*.csv
!1. Re-basing GCAM-Europe to 2015/data/A23.globaltech_shrwt.csv
*.xlsx
*.h5
*.db
*.sqlite
*.zip
*.tar
*.rar
*.pkl
*.pickle
*.dat
*.html
*.RData
*.rds
*.RDS
main_log0.txt
main_log1.txt
main_log_2015.txt